body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../imagens/BACKGROUND/3409297.jpg);
    background-size: cover; /* Faz com que a imagem cubra toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    color: #fff; /* Texto padrão em branco */
}

header {
    background-color: rgba(81, 171, 207, 0.8); /* Fundo translúcido */
    color: white;
    text-align: center;
    padding: 1em 0;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Sombra no texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
}

main {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px); /* Efeito de vidro */
    border-radius: 15px;
    margin: 2em auto;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3); /* Sombra adicional */
}

.card {
    background: rgba(255, 255, 255, 0.2); /* Fundo translúcido */
    border-radius: 15px;
    padding: 2em;
    margin: 1em 0;
    width: 80%;
    max-width: 600px;
    text-align: left;
    color: white; /* Texto branco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    backdrop-filter: blur(10px); /* Efeito de vidro */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borda sutil */
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

label {
    font-weight: bold;
    color: #fff; /* Cor dos rótulos */
}

input, select, textarea {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borda sutil */
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1); /* Fundo translúcido */
    color: white;
}

input::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.527); /* Placeholder mais sutil */
}

button {
    padding: 0.7em;
    font-size: 1em;
    background-color: #51abcf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #732188;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 1em 0;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
}

h2, h3 {
    text-align: center;
    color: white; /* Títulos em branco */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Sombra nos títulos */
}

h3 i {
    margin-right: 0.5em;
}

footer {
    text-align: center;
    padding: 1em;
    background: rgba(0, 0, 0, 0.8); /* Fundo escuro translúcido */
    color: white;
    font-size: 0.9em;
    border-top: 1px solid rgba(255, 255, 255, 0.2); /* Linha sutil no topo */
    box-shadow: 0 -4px 8px rgba(7, 0, 66, 0.2); /* Sombra no topo */
}

